/* --------------------------------- Globales Styling --------------------------------- */
* {
    margin: 0; /* Entfernt Standardabstände um alle Elemente herum */
    padding: 0; /* Entfernt Standardinnenabstände um alle Elemente herum */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in die Elementbreite/-höhe einbezogen werden */
}

/* --------------------------------- Grundlegendes Body-Styling --------------------------------- */
body {
    font-family: 'Larken Regular', sans-serif; /* Setzt die Schriftart auf Arial oder eine serifenlose Ersatzschrift */
    margin: 0; /* Entfernt den Standardabstand um den gesamten Seiteninhalt */
    background-color: #F6F5F1; /* Setzt die Hintergrundfarbe der Seite auf ein helles Grau */
    color: #353534; /* Setzt die Textfarbe auf ein dunkles Grau */
}

/* --------------------------------- Header Styling --------------------------------- */
header {
    display: flex; /* Definiert einen flexiblen Container für den Header */
    justify-content: space-between; /* Verteilt die Inhalte im Header gleichmäßig mit Platz dazwischen */
    align-items: center; /* Zentriert die Elemente vertikal im Header */
    padding: 15px 30px; /* Fügt Innenabstände von 15px oben/unten und 30px links/rechts hinzu */
    background-color: #F6F5F1; /* Setzt die Hintergrundfarbe des Headers auf ein dunkles Grau (#444) */
    color: #AFB0B6; /* Setzt die Textfarbe im Header auf Weiß */
    /* box-shadow: 0 2px 5px rgba(4,164,186); /* Fügt einen kleinen Schatten unter dem Header hinzu */
    position: fixed; /* Fixiert den Header am oberen Rand des Fensters */
    top: 0; /* Positioniert den Header am oberen Rand des Bildschirms */
    left: 0; /* Positioniert den Header am linken Rand */
    right: 0; /* Streckt den Header über die gesamte Breite */
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Fügt eine Übergangsanimation für Opazität und Sichtbarkeit hinzu */
    /* z-index: 1000; /* Stellt sicher, dass der Header über dem Rest der Seite bleibt */
}

.logo-img {
    width: 50px; /* Breite des Logos */
    height: auto; /* Höhe passt sich proportional zur Breite an */
    /* box-shadow: 0 2px 5px rgba(4,164,186); /* Fügt einen kleinen Schatten unter dem Header hinzu */
}

/* Kombinierter Hover-Effekt für Logo, Navigationslinks und Social Media Icons */
.logo:hover,
.nav-links a:hover,
.social-icons a:hover,
.mobile-social-icons a:hover,
.hamburger-menu:hover,
.mobile-menu a:hover {
    color: #04A4BA; /* Ändert die Farbe beim Hover */
    transition: transform 0.6s, background-color 0.6s; /* Fügt eine sanfte Übergangsanimation hinzu */
    transform: scale(1.1); /* Vergrößert die Balken leicht beim Hover */
}

.hamburger-menu:hover span {
    background-color: #04A4BA; /* Ändert die Farbe der Balken beim Hover */
}

/* --------------------------------- Logo Styling --------------------------------- */
.logo {
    font-size: 20px; /* Setzt die Schriftgröße des Logos auf 24px */
    font-weight: bold; /* Macht das Logo fettgedruckt */
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: inherit; /* Erbt die Textfarbe des übergeordneten Elements */
}

/* --------------------------------- Navigation Links Styling --------------------------------- */
.nav-links {
    display: flex; /* Stellt die Navigationslinks als flexiblen Container dar */
    gap: 20px; /* Fügt einen Abstand von 20px zwischen den Links hinzu */
}

.nav-links a {
    color: #AFB0B6; /* Setzt die Textfarbe der Links auf Weiß */
    text-decoration: none; /* Entfernt Unterstreichungen von den Links */
    font-size: 18px; /* Setzt die Schriftgröße der Links auf 18px */
    transition: color 0.3s; /* Fügt eine sanfte Übergangsanimation für die Textfarbe hinzu */
}

/* .nav-links a:hover {
    color: #04A4BA; /* Ändert die Textfarbe der Links beim Hover auf einen goldenen Ton (#f0a500) */
/* }

/* --------------------------------- Social Media Icons Styling --------------------------------- */
.social-icons {
    display: flex; /* Stellt die Social Media Icons als flexiblen Container dar */
    gap: 15px; /* Fügt einen Abstand von 15px zwischen den Icons hinzu */
    font-size: 22px; /* Setzt die Schriftgröße der Social Media Icons */
}

.social-icons a {
    /* font-size: 16px; /* Setzt die Schriftgröße der Social Media Icons auf 24 Pixel */
    color: #AFB0B6; /* Setzt die Farbe der Icons auf Schwarz */
    transition: color 0.3s ease; /* Fügt einen sanften Übergang hinzu, wenn sich die Farbe ändert */
    /* margin-right: 1px; /* Fügt einen rechten Außenabstand von 10 Pixeln hinzu */
    /* margin-left: 1px; /* Fügt einen linken Außenabstand von 10 Pixeln hinzu */
    transition: filter 0.3s; /* Fügt einen sanften Übergang hinzu, wenn sich der Filter ändert */
    text-decoration: none; /* Entfernt die Unterstreichung der Icons, falls sie Links sind */
}

/* --------------------------------- Hamburger Menü Styling --------------------------------- */
.hamburger-menu {
    display: none; /* Versteckt das Hamburger-Menü standardmäßig */
    flex-direction: column; /* Ordnet die Balken des Hamburger-Menüs vertikal an */
    gap: 5px; /* Fügt einen Abstand von 5px zwischen den Balken hinzu */
    cursor: pointer; /* Ändert den Mauszeiger in eine Hand, wenn über das Menü gefahren wird */
    z-index: 1100; /* Stellt sicher, dass das Hamburger-Menü über dem Hauptinhalt liegt */
}


.hamburger-menu {
    display: none;
    position: absolute; /* Stelle sicher, dass die Position festgelegt ist */
    right: 30px; /* Passe dies je nach Design an */
    top: 20px;  /* Passe dies ebenfalls an */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    width: 30px; /* Setzt die Breite der Balken des Hamburger-Menüs auf 30px */
    height: 3px; /* Setzt die Höhe der Balken des Hamburger-Menüs auf 3px */
    background-color: #AFB0B6; /* Setzt die Balkenfarbe auf Weiß */
    transition: transform 0.5s; /* Fügt eine sanfte Übergangsanimation für Transformationen hinzu */
}

/* --------------------------------- Mobile Menü Styling --------------------------------- */
.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;  /* Passe dies ebenfalls an */
    right: -100%; /* Menü startet außerhalb des Bildschirms */
    height: 100vh;
    background-color: #F6F5F1;
    z-index: 1050;
    width: 200px;
    padding: 20px;
    border-left: 1px solid #c2c2c2;
    transition: right 0.5s ease; /* Transition auch im Ausgangszustand definieren */
}

.mobile-menu.open {
    right: 0; /* Menü fährt in den sichtbaren Bereich */

}


.mobile-menu :hover {
    color: #04A4BA; /* Ändert die Textfarbe der Links beim Hover auf einen goldenen Ton (#f0a500) */
}

.mobile-menu nav {
    display: flex; /* Stellt die Navigationslinks im mobilen Menü als flexiblen Container dar */
    flex-direction: column; /* Ordnet die Links im mobilen Menü vertikal an */
    gap: 15px; /* Fügt einen Abstand von 15px zwischen den Links hinzu */
    text-align: center; /* Zentriert den Text der Links im mobilen Menü */
    margin-top: 50px; /* Verschiebt die Links um 50px nach unten */
}

.mobile-menu a {
    color: #AFB0B6; /* Setzt die Textfarbe der Links im mobilen Menü auf Weiß */
    text-decoration: none; /* Entfernt Unterstreichungen von den Links im mobilen Menü */
    font-size: 18px; /* Setzt die Schriftgröße der Links im mobilen Menü auf 18px */
}

.mobile-social-icons {
    display: flex; /* Stellt die Social Media Icons im mobilen Menü als flexiblen Container dar */
    gap: 15px; /* Fügt einen Abstand von 15px zwischen den Icons hinzu */
    margin-top: 20px; /* Fügt einen oberen Rand von 20px zwischen den Links und den Icons hinzu */
}


.close-menu {
    position: absolute; /* Positioniere das Schließen-Symbol */
    top: 5px;
    right: 30px;
    font-size: 50px;
    cursor: pointer;
    color: #AFB0B6; /* Setzt die Farbe des Symbols */
}

.close-menu:hover {
    color: #04A4BA; /* Farbe beim Hover (optional) */
}



/* --------------------------------- Medienabfragen für kleinere Bildschirme --------------------------------- */
@media (max-width: 768px) {
    .nav-links, .social-icons {
        display: none; /* Versteckt die regulären Navigationslinks und Social Media Icons auf kleineren Bildschirmen */
    }

    .hamburger-menu {
        display: flex; /* Zeigt das Hamburger-Menü auf Bildschirmen mit einer Breite von maximal 768px an */
    }

    .mobile-menu {
        right: -300px; /* Positioniere das mobile Menü außerhalb des Bildschirms */
    }

    .mobile-menu.open {
        right: 0; /* Bringt das mobile Menü ins sichtbare Bild */
        transition: right 0.5s ease; /* Übergang */
    }
}






/*---------------------------------- Hauptinhalt ----------------------------------*/
/* Diese Sektion betrifft den Hauptteil der Webseite */
main {
    /* padding: 200px 200px 200px; /* Fügt einen Abstand von 50 Pixeln um den Hauptinhalt herum hinzu */
    /* text-align: center; /* Zentriert den Text im Hauptinhalt */
    padding-top: 100px; /* Höhe des Headers plus etwas zusätzlichen Platz */

}

.content { /* Stile für den zentralen Content-Bereich */
    width: 100%; /* Breite des Inhaltsbereichs ist 80% der Seitenbreite */
    max-width: 1200px; /* Maximale Breite von 1200px, um auf großen Bildschirmen nicht zu breit zu werden */
    margin: 30px auto 0 auto; /* Setzt 200px nach oben und zentriert horizontal */
    padding: 20px; /* Fügt innenliegenden Abstand hinzu, um den Inhalt vom Rand abzusetzen */
    background-color: #F6F5F1; /* Setzt die Hintergrundfarbe des Content-Bereichs auf weiß */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Fügt einen leichten Schatten hinzu, um den Bereich hervorzuheben */
    border-radius: 8px; /* Rundet die Ecken des Content-Bereichs ab */
}
/*---------------------------------- Ende Hauptinhalt ----------------------------------*/

/*---------------------------------- Footer ----------------------------------*/
/* Diese Sektion betrifft den Fußbereich der Webseite */
footer {
    background-color: #F6F5F1; /* Setzt die Hintergrundfarbe des Fußbereichs auf Weiß */
    color: #AFB0B6; /* Setzt die Schriftfarbe */
    padding: 100px; /* Fügt einen Innenabstand von 20 Pixeln im Fußbereich hinzu */
    text-align: center; /* Zentriert den Text im Fußbereich */
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Fügt einen kleinen Schatten oberhalb des Fußbereichs hinzu */
    display: flex; /* Macht den Fußbereich zu einem flexiblen Layout */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    position: relative; /* Erlaubt die Positionierung von Elementen innerhalb des Footers */
    flex-direction: column; /* Ordnet die Elemente im Footer vertikal an */
    align-items: center; /* Zentriert die Elemente im Footer horizontal */
    gap: 10px; /* Fügt einen Abstand von 20px zwischen den Flex-Elementen hinzu */
}

footer p {
    font-size: 14px; /* Ändert die Schriftgröße auf 14 Pixel */
    margin: 0; /* Entfernt den Standardaußenabstand für den Absatz im Fußbereich */
}
/*---------------------------------- Ende Footer ----------------------------------*/



/*---------------------------------- Slide-Effekte ----------------------------------*/
/* Gemeinsames Styling für alle Texte, die hereinfahren sollen */
.slide-in {
    /* font-size: 1.9em; /* Beispielhafte Schriftgröße, passe sie nach Bedarf an */
    opacity: 0; /* Initiale Sichtbarkeit auf 0 setzen */
    animation-fill-mode: forwards; /* Sicherstellen, dass die Animation bei 100% bleibt */
    animation-delay: 3s; /* Verzögerung bevor die Animation startet, z.B. 0.5 Sekunden */
    opacity: 1; /* Sichtbarkeit wieder auf 1 setzen */
}

/* Definiere die Animation für das Hereinfahren von links */
.a {
    animation: slideInFromLeft 5s ease-in-out; /* Wende die Animation auf den Text an, Dauer: 3 Sekunden */
    font-size: 18px; /* Setzt die Schriftgröße des Logos auf 24 Pixel */
    margin-bottom: 20px; /* NEU: Füge einen Abstand unter dem Text hinzu */
    text-align: right; /* Zentriert den Text im Hauptinhalt */
    font-style: italic; /* Macht den Text innerhalb eines Absatzes kursiv */
}

/* Definiere die Animation für das Hereinfahren von oben */
.b {
    animation: slideInFromTop 4s ease-in-out; /* Wende die Animation auf den Text an, Dauer: 3 Sekunden */
    font-size: 18px; /* Setzt die Schriftgröße des Logos auf 24 Pixel */
    margin-bottom: 20px; /* Füge einen Abstand unter dem Text hinzu */
    text-align: center; /* Zentriert den Text im Hauptinhalt */
    font-weight: bold; /* Macht den gesamten Text fett */
}

.c {
    animation: slideInFromBottom 3s ease-in-out; /* Wende die Animation auf den Text an, Dauer: 3 Sekunden */
    font-size: 18px; /* Setzt die Schriftgröße des Logos auf 24 Pixel */
    margin-bottom: 20px; /* Füge einen Abstand unter dem Text hinzu */
    text-align: left; /* Zentriert den Text im Hauptinhalt */
}

.d {
    animation: slideInFromBottom 2s ease-in-out; /* Animation anwenden, Dauer: 3 Sekunden */
    margin-bottom: 18px; /* Abstand unter dem Logo */
    margin-bottom: 20px; /* Füge einen Abstand unter dem Text hinzu */
    text-align: left; /* Zentriert den Text im Hauptinhalt */
}

.e {
    animation: slideInFromBottom 1s ease-in-out; /* Animation anwenden, Dauer: 3 Sekunden */
    margin-bottom: 18px; /* Abstand unter dem Logo */
    margin-bottom: 20px; /* Füge einen Abstand unter dem Text hinzu */
    text-align: left; /* Zentriert den Text im Hauptinhalt */
}






/* Animationen */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%); /* Startposition des Texts: komplett links außerhalb des Viewports */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* Endposition des Texts: an der richtigen Position */
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%); /* Startposition des Texts: komplett oben außerhalb des Viewports */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Endposition des Texts: an der richtigen Position */
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10%); /* Startposition des Texts: komplett rechts außerhalb des Viewports */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* Endposition des Texts: an der richtigen Position */
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%); /* Startposition: unterhalb des sichtbaren Bereichs */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Endposition: an der richtigen Position */
        opacity: 1;
    }
}



/*---------------------------------- Ende Slide-Effekte ----------------------------------*/


/* Stile für den transparenten Header beim Scrollen */
.header-transparent {
    opacity: 0; /* Setzt die Opazität des Headers auf 0, wodurch er unsichtbar wird */
    visibility: hidden; /* Versteckt den Header */
    transition: opacity 2.0s ease, visibility 2.0s ease; /* Übergangseffekt beim Ändern von Opazität und Sichtbarkeit */
}


/*---------------------------------- Beiträge Stile ----------------------------------*/
.posts {
    display: flex; /* Richten der Beiträge horizontal aus */
    flex-wrap: wrap; /* Beiträge umbrechen, damit sie in mehreren Reihen erscheinen können */
    justify-content: center; /* Beiträge in der Mitte des Containers ausrichten */
    text-decoration: none; /* Entferne die Standard-Unterstreichung des Links */
    color: inherit; /* Erbt die Textfarbe */
}

.post {
    display: flex; /* Macht den Beitrag zu einem flexiblen Container für Inhalt */
    gap: 10px; /* Abstand zwischen den Elementen im Beitrag */
    border: 1px solid #c2c2c2; /* Gibt dem Beitrag einen Rahmen */
    border-radius: 8px; /* Macht die Ecken des Rahmens abgerundet */
    margin: 10px; /* Abstand zwischen den Beiträgen */
    padding: 10px; /* Innenabstand innerhalb des Beitrags */
    width: 340px; /* Breite des Containers */
    height: 340px; /* Feste Höhe des Beitrags */
    max-width: 340px; /* Maximale Breite */
    opacity: 0; /* Beitrag ist anfangs unsichtbar */
    transition: transform 2s ease-out, opacity 1s ease-out; /* Definiert die Übergangsanimationen für Sichtbarkeit und Bewegung */
    background-color: #F6F5F1; /* Hintergrundfarbe des Beitrags */
    transform: translateY(50%); /* Startposition des Beitrags ist unterhalb des sichtbaren Bereichs */
    align-items: center; /* NEU: Zentriert das Bild und den Text horizontal */
    flex-direction: column; /* NEU: Anordnung der Kinder (Bild und Text) vertikal */
    justify-content: center; /* Zentriert den Inhalt vertikal */
}

.post.visible {
    opacity: 1; /* Beitrag wird sichtbar */
    transform: translateY(0); /* Beitrag bewegt sich in seine normale Position */
}

.post:hover {
    transform: scale(1.05); /* Beitrag vergrößert sich leicht beim Darüberfahren mit der Maus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatteneffekt, um den Beitrag hervorzuheben */
}

/* Bild für Blogbeitrag */
/* Bild für Blogbeitrag */
img {
    max-width: 70%;
    height: auto;
    display: block; /* Verwandelt das Bild in ein Blockelement */
    margin-left: auto;
    margin-right: auto; /* Zentriert das Bild horizontal */
    cursor: pointer; /* Zeigt an, dass das Bild anklickbar ist */
}

.post img {
    width: 230px; /* Breite des Bildes */
    height: auto; /* Höhe des Bildes */
    display: block; /* Verwandelt das Bild in ein Blockelement */
    object-fit: contain; /* Das Bild wird so skaliert, dass es den gesamten verfügbaren Platz einnimmt, ohne verzerrt zu werden */
    border-radius: 8px; /* Ecken des Bildes werden abgerundet */
    /*max-height: 150px; /* NEU: Maximale Höhe des Bildes, um sicherzustellen, dass es nicht zu groß wird */
    float: center; /* Bild nach rechts ausrichten */
    margin-left: auto;
    margin-right: auto; /* Zentriert das Bild horizontal */
    filter: grayscale(100%); /* Macht das Bild schwarz-weiß */
    padding: 10px;
}

.post img:hover {
    filter: grayscale(0%); /* Entfernt den Schwarz-Weiß-Effekt beim Hover */
}


.post-content {
    flex: 1; /* Der Textinhalt nimmt den verbleibenden Platz im Beitrag ein */
    padding: 10px; /* Innenabstand links und rechts des Textinhalts */
    text-align: left; /* NEU: Zentriert den Text */
}

.post-content h2 {
    font-size: 16px; /* Schriftgröße der Überschrift */
    margin-bottom: 5px; /* NEU: KLEINERER ABSTAND UNTER DER ÜBERSCHRIFT */
}

.post-content p {
    font-size: 14px; /* NEU: KLEINERE SCHRIFTGRÖSSE DES TEXTES */
}

.nav-links a {
    color: #AFB0B6; /* Setzt die Textfarbe der Links */
    text-decoration: none; /* Entfernt Unterstreichungen von den Links */
}

a {
    color: inherit; /* Erbt die Textfarbe des Beitrags */
    text-decoration: none; /* Entfernt die Unterstreichung des Links */
}